header {
  top: 0;
  right: 0;
  width: 100%;
  font: 12px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  justify-content: center;
}

#nav-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.left-nav {
  display: flex;
}

.right-nav {
  display: flex;
}

ul#nav {
  min-height: 48px;
  margin: 0;
  padding: 0;
}

ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
ul#nav li a {
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  /* text-align: left; */
}

/* ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; } */
